<!DOCTYPE html>
<html lang='en'>
<head>
<title>Intruder</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/css/vis.min.css" rel="stylesheet" type="text/css" />
<link href="static/css/layout.css" rel="stylesheet" type="text/css"></link>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript type='text/javascript' src='static/lib/jquery.min.js'%3E%3C/script%3E"));
}
</script>
<script type="text/javascript" src="static/lib/socket.io.js"></script>
<script type="text/javascript" src="static/lib/tdi.tabs.js"></script>
<script type="text/javascript" src="static/lib/vis.min.js"></script>
<script type="text/javascript" src="static/client.js"></script>

</head>
<body onload="draw()">

<main id='main_content'>
<div class='wrap'>
  <div class="column leftside">
    <h2 class='h2 magenta'>Controller</h2>
    <div class='content'>
      <button class='control' onclick="start_level()">start level</button> 
      <button class='control' onclick="reset_level()">reset level</button> 
      <button class='control' onclick="stop_level()">stop level</button> 
      <br><br>
      <form action="/uploader" id="uploadform" method = "POST" enctype = "multipart/form-data">
      <script type="text/javascript">
        $("#uploadform").submit(function(e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            //var form = $("#uploadform");
            var form = new FormData($("#uploadform")[0]);
            $.ajax({
                  type: "POST",
                  url: "/uploader",
                  enctype     : 'multipart/form-data',
                  processData : false,
                  contentType: false,
                  data: form,//.serialize(), // serializes the form's elements.
                  success: function(data) {
                      console.log('Submission was successful.');
                      console.log(data);
                  },
                  error: function (data) {
                      console.log('An error occurred.');
                      console.log(data);
                  },
            });
        });
      </script>
         <input id="file" type = "file" name = "file" accept=".py" class="inputfile"/>
         <label for="file" class='control' ><span>Choose a file&hellip;</span></label>
         <input class='control' type = "submit" value="Deploy"/>
      </form>
    </div>
  </div>

  <div class="column middle">
    <h2 class='h2 teal'>Network overview</h2>	
    <div class='content'>
      <div id="network" class="network"></div>
    </div>	
  </div>

  
  <div class="column rightside" id="hostinfo">
    <h2 class='h2 teal'>Hostinfo</h2>	
    <div class='content'>
      <h3>ps</h3>
      <pre id="ps"></pre>
      <h3>ifconfig</h3>
      <pre id="ifconfig"></pre>
      <h3>netstat</h3>
      <pre id="netstat"></pre>
      <h3>syslog</h3>
      <pre id="syslog"></pre>
    </div>	
  </div>

	<div class="footer" id="hostlog">
		<!-- Tab Body Start -->
		<div class="tabcontents" id="hostlogbody">
			<pre id="localhost"> 
      </pre>
    </div>
		<!-- Tab Body End --> 
		<!-- Tab Headers Start -->
		<ul class="tabs" id="hostlogtab">
			<li><a data-toggle="tab" id='localhost_tab' href="#localhost">localhost</a></li>
		</ul>
		<!-- Tab Headers End --> 
	</div>

  <div id="real_bg" style="visibility: hidden">
    <div class="myalert_inner" id="info_inner">
      <h2 class='h2 teal'>Message</h2>
      <pre id="info" style="padding: 20px">
          This is a popup
      </pre>
    </div>
  </div>

</div>
</main>
</body>
</html>

