<!DOCTYPE html>
<html lang='en'>
<head>
<title>Intruder</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/css/layout.css" rel="stylesheet" type="text/css"></link>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript type='text/javascript' src='static/lib/jquery.min.js'%3E%3C/script%3E"));
}

$(document).ready(function() {
  $.getJSON(
    '/get_levels',
    function(data) {                               
      // Add new items
      $.each(data, function(key, val) {
        var option_item = '<option value="' + key + '">' + key + '</option>'
        $('#level').append(option_item);
      });
    }
  );
});

function change_preview() {
  var im = "static/" + $('#level')[0].value + ".jpg";
  //var level_p = 
  $('#level_preview').attr("src", im );
}
</script>
<script type="text/javascript" src="static/lib/socket.io.js"></script>

</head>
<body>
<main id='main_content'>
<div class='wrap'>
  <div class="column" style="border: 1px solid rgba(255, 0, 255, 0.692);  display: inline; grid-column: 1; grid-row-start: 1;	grid-row-end: 2;">
    <h2 class='h2 magenta'>Level select</h2>
    <div class='content'>
      <form action="/" method="GET">
          <input class='control' type="submit" value='start'>
          <select class='levellist' id="level" name="level" size="7" onchange="change_preview()"></select>
      </form>
    </div>
  </div>
  <div class="column" style="width: 820px; border: 1px solid rgba(255, 0, 255, 0.692); display: inline; grid-column-start: 2;	grid-column-end: 3; grid-row-start: 1;	grid-row-end: 2;"">
	  <div class='content' style="">
      <img id="level_preview" src="static/logo.jpg" style="width: 800px;">
    </div>
  </div>

</div>
</main>
</body>
</html>

