<!DOCTYPE html>
<html lang='en'>
<head>
<title>Intruder</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/css/vis.min.css" rel="stylesheet" type="text/css" />
<link href="static/css/layout.css" rel="stylesheet" type="text/css"></link>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="static/lib/socket.io.js"></script>
<script type="text/javascript" src="static/lib/tdi.tabs.js"></script>
<script type="text/javascript" src="static/lib/vis.min.js"></script>
<script type="text/javascript" src="static/client.js"></script>

</head>
<body onload="draw()">

<main id='main_content'>
<div class='wrap'>
  <div class="column leftside">
    <h2 class='h2 magenta'>Controller</h2>
    <div class='content'>
      <button class='control' onclick="addNewStaticTab()">add new tab</button> 
      <button class='control' onclick="get_page_data()">get page data</button> 
      <button class='control' onclick="get_hosts()">get hosts</button> 
      <button class='control' onclick="get_logging_data()">get logging data</button> 
      <button class='control' onclick="get_info_data()">get info data</button> 
      <button class='control' onclick="set_focus()">set focus</button> 
    </div>
  </div>

  <div class="column middle">
    <h2 class='h2 teal'>Network overview</h2>	
    <div class='content'>
      <div id="network" class="network"></div>
    </div>	
  </div>

  
  <div class="column rightside" id="hostinfo">
    <h2 class='h2 teal'>Hostinfo</h2>	
    <div class='content'>
      <h3>ps</h3>
      <pre id="ps"></pre>
      <h3>syslog</h3>
      <pre id="syslog"></pre>
      <h3>netstat</h3>
      <pre id="netstat"></pre>
    </div>	
  </div>

	<div class="footer" id="hostlog">
		<!-- Tab Body Start -->
		<div class="tabcontents" id="hostlogbody">
			<pre id="localhost"> <font color="#00FF00"><b>localhost</b></font>:<font color="#5C5CFF"><b>/</b></font>$ ls
        <font color="#5C5CFF"><b>bin</b></font>   <font color="#5C5CFF"><b>cdrom</b></font>  <font color="#5C5CFF"><b>dev</b></font>  <font color="#5C5CFF"><b>home</b></font>        <font color="#00FFFF"><b>initrd.img.old</b></font>  <font color="#5C5CFF"><b>lib32</b></font>  <font color="#5C5CFF"><b>lost+found</b></font>  <font color="#5C5CFF"><b>mnt</b></font>  <font color="#5C5CFF"><b>proc</b></font>  <font color="#5C5CFF"><b>run</b></font>   <font color="#5C5CFF"><b>srv</b></font>       <font color="#5C5CFF"><b>sys</b></font>  <font color="#5C5CFF"><b>usr</b></font>  <font color="#00FFFF"><b>vmlinuz</b></font>
        <font color="#5C5CFF"><b>boot</b></font>  core   <font color="#5C5CFF"><b>etc</b></font>  <font color="#00FFFF"><b>initrd.img</b></font>  <font color="#5C5CFF"><b>lib</b></font>             <font color="#5C5CFF"><b>lib64</b></font>  <font color="#5C5CFF"><b>media</b></font>       <font color="#5C5CFF"><b>opt</b></font>  <font color="#5C5CFF"><b>root</b></font>  <font color="#5C5CFF"><b>sbin</b></font>  swapfile  <span style="background-color:#00CD00"><font color="#000000">tmp</font></span>  <font color="#5C5CFF"><b>var</b></font>  <font color="#00FFFF"><b>vmlinuz.old</b></font>
      </pre>
    </div>
		<!-- Tab Body End --> 
		<!-- Tab Headers Start -->
		<ul class="tabs" id="hostlogtab">
			<li><a data-toggle="tab" id='localhost_tab' href="#localhost">localhost</a></li>
		</ul>
		<!-- Tab Headers End --> 
	</div>
</div>
</main>
</body>
</html>

